form {
  padding-bottom: 10px;
}
input {
  width: 100%;
  padding: 10px;
  border: 2px solid #dee2e6;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #dee2e6;
}

.submit-city {
  width: 100%;
  padding: 10px 15px;
  color: whitesmoke;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #2c5e7485;
  transition: 200ms ease-in-out;
}
.submit-city {
  background-color: #2f796b;
}
.submit-city:hover {
  background-color: #224d5a;
}
.current-location:hover {
  color: #fff;
  background-color: #224d5a;
}
.current-location {
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  color: #224d5a;
  background-color: transparent;
  border: 1px solid #2c5f74;
  box-shadow: 2px 2px 4px #2c5e7485;
  transition: 200ms ease-in-out;
}
.City .searchedCity {
  margin: 0;
  padding: 10px 0 10px 0;
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
  color: #2f796b;
  font-family: "Itim", cursive;
}

.City .weather-description {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}
ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}
.Weather .city-temp {
  font-size: 50px;
  font-weight: bold;
  font-family: "Itim", cursive;
}
.Weather .units {
  position: relative;
  top: -20px;
  font-weight: bold;
  font-family: "Itim", cursive;
}
.units .active {
  color: black;
  cursor: auto;
}
img {
  position: relative;
  right: 0;
}
a {
  text-decoration: none;
}
.weather-details {
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.more-weather {
  margin-top: 15px;
  margin-bottom: 15px;
}
