.city-temp {
  font-size: 50px;
  font-weight: bold;
  font-family: "Itim", cursive;
}
.units {
  padding-left: 10px;
  position: relative;
  top: -20px;
  font-weight: bold;
  font-family: "Itim", cursive;
}
.units .active {
  color: black;
  cursor: auto;
}
